<!-- Home page -->
{% extends "layout.html" %}

{% block headscript %}
<style>
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div id="med" class="box py-6">
                    <i class="fas fa-2x fa-pills centered"></i>
                    <p class="centered">Medication</p>
                </div>
            </div>
            <div class="column">
                <div id="gro" class="box py-6">
                    <i class="fas fa-2x fa-shopping-basket centered"></i>
                    <p class="centered">Groceries</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block bodyscript %}
<script>
    $("#med").on("click", function (e) {
        location.href = "{{ url_for('medication') }}";
    });
    $("#gro").on("click", function (e) {
        location.href = "{{ url_for('groceries') }}";
    });
</script>
{% endblock %}