<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fa-all.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/debug.css') }}">

    {% block headscript %}{% endblock %}

    <!-- <style>
        nav.navbar {
            height: 6rem !important;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
        }
    </style> -->
</head>

<body style="min-height: 100vh;">
    <div class="hero is-small is-dark">
        <div class="hero-body">
            <h1 class="title">
                {% if not home %}
                <a href="{{url_for('index')}}" class="fas fa-arrow-left" style="margin-right: 10px;"></a>
                {% endif %}
                {{ heading }}
                </a>
            </h1>
        </div>
    </div>

    {% block content %}{% endblock %}
    {% block bodyscript %}{% endblock %}

</body>

</html>