<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Persistant - Home</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fa-all.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-divider.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debug.css') }}"> -->

    {% block headscript %}{% endblock %}

    <!-- <style>
        nav.navbar {
            height: 6rem !important;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
        }
    </style> -->
</head>

<body>

    {% block content %}{% endblock %}


</body>

</html>