<!-- Home page -->
{% extends "layout.html" %}

{% block headscript %}
<style>
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="hero is-small is-dark">
    <div class="hero-body">
        <h1 class="title">
            <a href="{{url_for('index')}}">
                Medication
            </a>
        </h1>
    </div>
</div>
<section class="section">

    <div class="container">
        <div class="columns">
            <div class="column">
                <div id="med" class="box">
                    <i class="fas fa-pills centered"></i>
                    <p class="centered">Medication</p>
                </div>
            </div>
            <div class="column">
                <div id="gro" class="box">
                    <i class="fas fa-shopping-basket centered"></i>
                    <p class="centered">Groceries</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block bodyscript %}
<script>

</script>
{% endblock %}